#
# ~/.bashrc
#
{{ if and .chezmoi.osRelease (eq .chezmoi.osRelease.name "Arch Linux") }}
eval -- "$(/usr/local/bin/starship init bash --print-full-init)"
alias cap='grim -g "$(slurp)" ~/screenshots/$(date +%s).png'
{{ end }}

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias ll='ls -la'

# kubernetes aliases
alias k='kubectl'
alias kgp='kubectl get pods'
alias kgpa='kubectl get pods -A'
alias kcs='kubectl config set-context --current --namespace=$1'
PS1='[\u@\h \W]\$ '


{{ if and .chezmoi.osRelease (eq .chezmoi.osRelease.name "Ubuntu") }}
export PATH="$PATH:/home/sito/.local/bin"
{{ end }}
{{ if and .chezmoi.osRelease (ne .chezmoi.osRelease.name "Arch Linux") }}
# >> k3s command completion (start)
. <(k3s completion bash)
# >> k3s command completion (end)
export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
{{ end }}
